.chkTodos{
	width:70px;
}

.fecha{
	width: 74.55px;
}

.instOrd{
	width: 44px;
}

.paq{
	width: 50px;
}

.pago{
	width: 50px;
}

.cuentaR{
	width: 50px;
}

.importe{
	width: 69.35px;
}

.usuario{
	width:50px;
}

.codErr{
	width: 50px;
}

.devol{
	width: 50px;
}