
.yellow
{
	background-color:#FFFF00;
}

.blue
{
	background-color:#0000FF;
}

.red
{
	background-color:#FF0000;
}

.green
{
	background-color:#32CD32;
}

.margin-3{
	margin:3px;
}

.inputT{
	width:60%; 
	height:100%; 
	display: inline-block !important;
	disabled: true !important;
	pointer-events:none;
}

.divT{
	width:10%;
	display: inline-block !important;
}

