DIV.contentBuscadorSimple span.btn_Des a:link, DIV.contentBuscadorSimple span.btn_Des a:visited{
	color: #AAAAAA;
	align: center;
	height: 20px;
	font-size: 11px;
	text-align: center;
	border: 1px solid #D2D8DF;
	background-image: url(/AplicacionWebTransferEBE/css/private/flechaD.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin: 6;
	background-attachment: fixed;
	font-family: verdana;
	text-decoration: none;
	background-color: #FFFFFF;
}

DIV.contentBuscadorSimple span.btn_Des a:hover { 
	text-decoration: none; 
	cursor:default;
}
	
DIV.contentBuscadorSimple span.btn_Des a:active { 
	text-decoration: none; 
	cursor:default;
	
}

DIV.contentFormulario span.btn_Des a:link, DIV.contentFormulario span.btn_Des a:visited{
	color: #AAAAAA;
	align: center;
	height: 20px;
	font-size: 11px;
	text-align: center;
	border: 1px solid #D2D8DF;
	background-image: url(/AplicacionWebTransferEBE/css/private/flechaD.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin: 6;
	background-attachment: fixed;
	font-family: verdana;
	text-decoration: none;
	background-color: #FFFFFF;
}

DIV.contentFormulario span.btn_Des a:hover { 
	text-decoration: none; 
	cursor:default;	
}
	
DIV.contentFormulario span.btn_Des a:active { 
	text-decoration: none; 
	cursor:default;
	
}

DIV.contentFormulario span.btn a:link, DIV.contentFormulario span.btn a:visited{
	color: #FF0000;
	align: center;
	height: 20px;
	font-size: 11px;
	text-align: center;
	border: 1px solid #D2D8DF;
	background-image: url(/AplicacionWebTransferEBE/css/private/flechaD.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin: 6;
	background-attachment: fixed;
	font-family: verdana;
	text-decoration: none;
	background-color: #FFFFFF;
}

DIV.contentFormulario span.btn a:hover { 
	text-decoration: underline;
}
	
DIV.contentFormulario span.btn a:active { 
	text-decoration: none; 	
}






DIV.contentPieContenedor .der_Des{
	background-image: url(../../lf/default/img/menu/flechaD.gif);
	text-align:right;	
	background-repeat: no-repeat;
	background-position: right;
	text-align: right;
	padding-right: 12px;
	padding-left: 12px;
	#pointer-events: none; #Se deja comentado
}



DIV.contentPieContenedor .der_Des a:link, DIV.contentPieContenedor .der_Des a:visited{
	color:#AAAAAA;
	cursor:default;
	text-decoration: none;
	#pointer-events: none; # Se deja comentado
  }
  
  DIV.contentPieContenedor .der_Des:hover {
  	text-decoration: none;	
    color: #AAAAAA;
    cursor:default;
    #pointer-events: none; # Se deja comentado
  }

DIV.contentPieContenedor .izq_Des a:link, DIV.contentPieContenedor .izq_Des a:visited{
		background-image: url(../../lf/default/img/menu/flecha.gif);
		color: #AAAAAA;
		background-repeat: no-repeat;
		background-position: left;
		text-align: left;
		padding-right: 12px;
		padding-left: 12px;
		text-decoration: none;
		cursor:default;
		#pointer-events: none; # Se deja comentado
  }

DIV.contentPieContenedor .izq_Des:hover {
  	text-decoration: none;	
    color: #AAAAAA;
    cursor:default;
    #pointer-events: none; # Se deja comentado
  }
 #WindowLoad
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);   
   -moz-opacity:65;   
    opacity:0.65;
    background:#999;
}
 
.td-border-cda {
	border-width: 1px; 
	border: solid; 
	border-color: #BFBFBF;
}